.zip
banned-ips.json
banned-players.json
cache
commands.yml
help.yml
libraries
logs
ops.json
permissions.yml
pluginsBentoBoxdatabase_backup
pluginsCoreProtectdatabase.db
pluginsLuckPermstranslations
pluginsWorldEdit.archive-unpack
whitelist.json
usercache.json
version_history.json
versions
pluginsDynamicShopLog
pluginsEssentialsuserdata
pluginsEssentialsusermap.csv
pluginsMultiverse-Inventoriesplayers
Worldadvancements
Worldplayerdata
Worldstats